USE [master]
GO
/****** Object:  Database [Fatcash]    Script Date: 3/16/2023 2:07:35 AM ******/
CREATE DATABASE [Fatcash]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fatcash', FILENAME = N'C:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\Fatcash.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fatcash_log', FILENAME = N'C:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\Fatcash_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fatcash].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fatcash]
GO
/****** Object:  Table [dbo].[DatosPersonales]    Script Date: 3/16/2023 2:07:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosPersonales](
	[Cedula] [int] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Contrasena] [varchar](50) NULL,
 CONSTRAINT [PK_DatosPersonales] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Finanzas]    Script Date: 3/16/2023 2:07:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Finanzas](
	[TipoI] [varchar](50) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[FechaI] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Metas]    Script Date: 3/16/2023 2:07:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metas](
	[CantidadM] [int] NOT NULL,
	[FechaM] [date] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
